.product-listing {
  margin-inline: var(--gutter);
}

.product-listing .content-section {
  inline-size: min(100%, var(--container-content));
  margin-inline: auto;
  padding-block: var(--space-10);
}
